@using AGTIV.Framework.MVC.UI.Web.Models
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Inputs

@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="ag-login-forgot kt-login__forgot">
    <div class="ag-login-header">
        <h3 class="ag-login-title">Forgotten Password ?</h3>
        <div class="ag-login-desc">Enter your email to reset your password:</div>
    </div>
    @using (Html.BeginForm("ForgotPassword", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.EJS().TextBoxFor(m => m.Email).Placeholder("Email").CssClass("e-outline").FloatLabelType(FloatLabelType.Auto).Render()
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        <div class="ag-login-actions" style="margin-top:10px;">
            @Html.EJS().Button("ag_login_forgot_submit").CssClass("ag-login-button").Content("Request").Render()&nbsp;&nbsp;
            @Html.EJS().Button("ag_login_forgot_cancel").CssClass("ag-login-button-cancel").Content("Cancel").Render()
        </div>
    }
</div>